/*=========================
global-navigation
==========================*/
.globalnavi {
    display: none;
    background-color: $white;
    @include min-screen($break_point_pc) {
    display: block;
  }
  .gnavi-list {
    text-align: center;
    padding:0px;
    padding-top: 0px;
    @include min-screen($break_point_pc) {
      @include clearfix;
    }
    > li {
      width: 100%;
      margin-top: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
      display: inline-block;
      position: relative;
      border-bottom: solid 1px $gray;
      @include min-screen($break_point_pc) {
        width: auto;
        margin: 0 32px;
        padding-top: 0px;
        padding-bottom: 0px;
        border-bottom: none;
      }
      @media screen and (max-width:1040px){
        margin: 0 15px;
      }
      @media screen and (max-width:800px){
        margin: 0px;
      }
      &:first-child{
        border-top: solid 1px $gray;
        @include min-screen($break_point_pc) {
          border-top: none;
        }
      }
      &:after{
        content: "";
        width: 1px;
        height: 30px;
        background-color: #d0ebff;
        display: block;
        position: absolute;
        right: -32px;
        top: 0px;
        @media screen and (max-width:1040px){
          right: -20px;
        }
      }
      &:last-child{
        &:after{
          display: none;
        }
      }
      &.gnavi-list__home {
        @include min-screen($break_point_pc) {
          display: none;
        }
      }
      a {
        color: $black;
        text-decoration: none;
        font-weight: bold;
        position: relative;
        font-size: 15px;
        @include min-screen($break_point_pc) {
          color: $black;
          font-size: 16px;
        }
        &:hover {
          &:after {
            transform: scaleX(1);
            opacity: 1 !important;
          }
        }
        .underline {
          border-bottom: 1px solid #000000;
        }

        &:after {
          position: absolute;
          bottom: -18px;
          left: 50%;
          margin-left: -6px;
          content: "";
          width: 12px;
          height: 12px;
          border-radius: 100px;
          display: block;
          //  background: $yellow;
          transform: scaleX(0);
          transition: .3s;
          z-index: 10;
          @include max-screen($break_point_max) {
            display: none;
          }
        }

      }
    }
  }
}


.about {
  .gnavi-list {
    > .gnav_home {
      > a {
        &:after {
          @include min-screen($break_point_pc) {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}

.business {
  .gnavi-list {
    > .gnav_business {
      > a {
        &:after {
          @include min-screen($break_point_pc) {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}

.recruit {
  .gnavi-list {
    > .gnav_recruit {
      > a {
        &:after {
          @include min-screen($break_point_pc) {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}

.company {
  .gnavi-list {
    > .gnav_company {
      > a {
        &:after {
          @include min-screen($break_point_pc) {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}

.access {
  .gnavi-list {
    > .gnav_access {
      > a {
        &:after {
          @include min-screen($break_point_pc) {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}

.contact{
  .gnavi-list {
    > .gnav_contact {
      > a {
        &:after {
          @include min-screen($break_point_pc) {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}
