
/*=========================
 header common settings
==========================*/

.l-header {
  width: 100%;
  background-color: #ffffff;
  height: 80px;
  padding: 10px;
  transition: .3s;
  // タブレット
  @include min-screen($break_point_max) {
    height: 120px;
    padding: 20px 40px;
  }
  // PC
  @include min-screen($break_point_pc) {
    height: 150px;
    max-width: $break_point_1440;
    padding: 20px 40px;
    margin: 0 auto;
  }

  .header-top {
    // サイトアイコン　左側

    .header-logo {
      float: left;
      display: flex;
      padding-top: 4px;
      &-icon {
        display: block;
        display: flex;
        width: 40px;
        @include min-screen($break_point_pc) {
          width: 50px;
        }
        &-name {
          line-height: 1.7;
          // TB以上の場合
          @include min-screen($break_point_max) {
            font-size: $header_logo_fontsize;
            line-height: 1.5;
          }
          @include min-screen($break_point_pc) {
            line-height: 1.7;
          }
        }
      }
    }
    .header-nav {
      @include max-screen($break_point_min) {
        display: none;
      }
      @include min-screen($break_point_min) {
        float: right;
        font-size: $header_nav_fontsize;
        .gnavi-list {
          display: flex;
          text-align: center;
        }
      }
    }
  }
}
.header_nav_bottom {
  font-size: $header_nav_bottom_fontsize;
}
