

.social {
    display: flex;
    justify-content: space-around;
    width: 200px;

    margin: 0 auto;
    @include min-screen($break_point_pc) {
        width: 180px;
    }
    .instagram, .facebook, .twitter {
        // margin: 0 auto;
        .social-btn {
            img {
                width: 100%;
            }
        }
    }
}
.icon {
    line-height: 1;
    width: 25px;
    @include min-screen($break_point_pc) {
        width: 30px;
    }
}