<div class="sec-content sec-common-contact">
  <div class="l-container">
    <ul class="common-contact__list">
      <li><a class="btn btn-s--wide btn-c--red" href="/request/">資料請求</a></li>
      <li><a class="btn btn-s--wide btn-c--green" href="/application/">個別ガイダンス</a></li>
    </ul>
  </div>
</div>
