<!-- <a id="js-pagetop" class="pagetop" href="#js-head"><i class="fas fa-chevron-up"></i></a> -->

<!-- <div class="footer-cv">
  <div class="l-container">
    <div class="footer-cv__left">
      <img class="footer-cv__icon" src="/images/common/file_img.svg" alt="">
      <h2 class="footer-cv__title">仕事に使える<span class="txt-dot">ヒ</span><span class="txt-dot">ン</span><span class="txt-dot">ト</span><span class="footer-title__min">を</span>毎週メール<span class="footer-title__min">で</span>お届け！</h2>
      <p class="footer-cv__desc">話題事例・お役立ちデータ・セミナーまで役立つ情報を無料で入手</p>
      <a class="cv-mail__btn" href="#">メルガマ<span>無料</span>登録 <img src="/images/common/navigate_next.png" alt=""></a>
    </div>

    <div class="footer-cv__right">
      <div class="footer-cv__sns">
        <p class="footer-sns__title">いつでも最新情報をみたい人は</p>
        <div class="footer-sns__bottom">
          <p>SNSをフォロー <span>▶︎</span></p>
          <ul class="footer-sns__list">
            <li><a href="#" target="_blank"><img src="/images/common/icon_twitter.png" alt="Twitter"></a></li>
            <li><a href="#" target="_blank"><img src="/images/common/icon_fb.png" alt="facebook"></a></li>
            <li><a href="#" target="_blank"><img src="/images/common/icon_feed.png" alt="RSS feed"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div> -->

<footer id="footer" class="l-footer">
  <div class="l-container">
    <div class="footer-logo__block">
      <div class="footer-logo">
        <p class="tagline">STARTLINE</p>
        <!-- <img src="/images/common/logo.svg" alt="リテールガイド"> -->
      </div>
      <!-- <p class="footer-logo__guide"><a href="https://locoguide.co.jp/" target="_blank"><img src="/images/common/logo_locoguide.png" alt="Powered by ロコガイド"></a></p>/ -->
      
    </div>

    <div class="footer-navblock">
      <ul class="footer-nav">
        <!-- リストバージョン -->
        <!-- <li><a href="#">Facebook</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Twitter</a></li> -->
        <!-- 横並び -->
        <img src="/images/icon/facebook.svg" class="icon" alt="フェイスブック"><a href="#">Facebook</a>/<a href="#"><img src="/images/icon/instagram.svg" class="icon" alt="インスタグラム">Instagram</a>/<a href="#"><img src="/images/icon/twitter.svg" class="icon" alt="ツイッター">Twitter</a>
      </ul>

      <div class="footer-copy">
        <p><small>Copyright © STARTLINE</small></p>
      </div>

    </div>
  </div>

</footer>

</div>
<!-- / l-wrapper -->

<script src="//code.jquery.com/jquery-2.2.2.min.js"></script>
<script src="/js/script.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
  integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</html>
