<!-- Slider main container/ -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide img-size">
            <a href="">
                <img src="/images/blog/IMG_4710.jpg" alt="家族写真">
                <p class="lg-ttl">aaaaaaaaaaaaaa</p>
                <p class="sm-ttl">ssssssssssssss</p>
            </a>
        </div>
        <div class="swiper-slide img-size">
            <a href="">
                <img src="/images/blog/IMG_4712.jpg" alt="温泉旅行">
                <p class="lg-ttl">aaaaaaaaaaaaaa</p>
                <p class="sm-ttl">ssssssssssssss</p>
            </a>
        </div>
        <div class="swiper-slide img-size">
            <a href="">
                <img src="/images/blog/IMG_4713.jpg" alt="レオパ">
                <p class="lg-ttl">aaaaaaaaaaaaaa</p>
                <p class="sm-ttl">ssssssssssssss</p>
            </a>
        </div>
        ...
    </div>
    <!-- If we need pagination  -->
    <div class="swiper-pagination"></div>

    <!-- 戻るボタン＋次ボタン -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
</div>