<%-
  include('../common/_head', {
    page: json['about']
  });
%>
<!-- ここからコンテンツ -->
<div id="container">
  <div id="main">
    <div class="main-inner">
      <article id="about" class="l-about">
        <h2 class="ttl main-font">About</h2>
        <div class="about">
          <img src="/images/about/IMG_1578_350.jpg" class="about-img" alt="前田龍汰">
          <div class="about-content">
            <dl class="dl-table">
              <dt>名前</dt>
              <dd>前田龍汰</dd>
              <dt>生年月日</dt>
              <dd>1991年2月 (29歳)</dd>
              <dt>所在地 / 出身地</dt>
              <dd>埼玉県狭山市</dd>
              <dt>事業内容</dt>
              <dd>HTML・CSSコーディング/WEB制作</dd>
              <dt>メールアドレス</dt>
              <dd>123@gmail.com<br>お問い合わせは上記のE-mailからお願いします。</dd>
            </dl>
          </div>
        </div>
      </article>
    </div>
    <!-- Profile -->
  </div>
    <!-- ここまでコンテンツ -->
  <% include ../common/_footer %>

