.swiper-container {
  width: 100%;
  height: 100%;

}

.img-size {
  position: relative;
  padding-bottom: 50px;
  img {
    width: 90%;
    height: 250px;
    object-fit: cover;
    padding-top: 5px;
  }
  .lg-ttl {
    position: absolute;
    top: 4px;/*画像の左上に配置*/
    left: 16px;
    margin: 0; /*余計な隙間を除く*/
    color: white;/*文字を白に*/
    background: $blog-bgc;/*背景色*/
    font-size: $SP_blog_title;
    line-height: 1;/*行高は1に*/
    padding: 5px 10px;/*文字周りの余白*/
    @include min-screen($break_point_min) {
      top: 5px;/*画像の左上に配置*/
      left: 35px;
    }
    @include min-screen($break_point_pc) {
      left: 58px;
    }
  }
  .sm-ttl {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: $blog-bgc;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
  }
}