<%-
  include('./common/_head', {
    page: json['portfolio']
  });
%>

  <!-- TOP イメージ -->
<div id="container">
  <div id="main-visual">
      <div class="SP"><img src="/images/rich-tervet-q2GNdFmhxx4-unsplash.jpg" alt="スタートラインのTOP写真"></div>
      <div class="PC"><img src="/images/rich-tervet-q2GNdFmhxx4-unsplash.jpg" alt="スタートラインのTOP写真"></div>
  </div>
  <!-- SNS -->
  <div id="sns" class="l-sns">
    <ul class="social">
      <li class="instagram icon"><a class="social-btn" href="#"><img src="/images/icon/instagram.svg" alt="インスタグラム"></a></li>
      <li class="facebook icon"><a class="social-btn" href="#"><img src="/images/icon/facebook.svg" alt="フェイスブック"></a></li>
      <li class="twitter icon"><a class="social-btn" href="#"><img src="/images/icon/twitter.svg" alt="ツイッター"></a></li>
    </ul>
  </div>

  <!-- ここからコンテンツ -->
  <div id="main">
    <div class="main-inner">
  <!-- Serviceエリア -->
      <section id="service" class="l-container">
          <h2 class="ttl main-font">SERVICE</h2>
          <!-- デザイン -->
          <section class="work-design l-out-shadow">
            <h3 class="work-design-ttl">
              <p class="lg-ttl">DESIGN</p>
              <p class="sm-ttl">デザイン</p>
            </h3>
            <div class="work-design-icon">
              <img src="/images/icon/mouse@3x.png" alt="マウス">
            </div>
            <div class="work-design-des">
              <p>テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト</p>
            </div>
          </section>
          <!-- コーディング -->
          <section class="work-coding l-out-shadow">
            <h3 class="work-coding-ttl">
              <p class="lg-ttl">CODING</p>
              <p class="sm-ttl">コーディング</p>
            </h3>
            <div class="work-coding-icon">
              <img src="/images/icon/Enter@3x.png" alt="マウス">
            </div>
            <div class="work-coding-des">
              <p>テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト</p>
            </div>
          </section>
      </section>
  <!-- Workエリア -->
      <section id="work" class="l-container main-font">
          <h2 class="ttl main-font">WORK</h2>
          <!-- ポートフォリオ１ -->
          <div class="portfolio l-out-shadow">
            <img src="/images/portfolio/Poaner.png" alt="Poaner">
            <div class="portfolio-ttl">
              <p class="top-text">Poaner</p>
              <p class="bottom-text">2020/05/20</p>
            </div>
          </div>
          <!-- ポートフォリオ2 -->
          <div class="portfolio l-out-shadow">
            <img src="/images/portfolio/Poaner.png" alt="Poaner">
            <div class="portfolio-ttl">
              <p class="top-text">Poaner</p>
              <p class="bottom-text">2020/05/20</p>
            </div>
          </div>
          <!-- ポートフォリオ3 -->
          <div class="portfolio l-out-shadow">
            <img src="/images/portfolio/Poaner.png" alt="Poaner">
            <div class="portfolio-ttl">
              <p class="top-text">Poaner</p>
              <p class="bottom-text">2020/05/20</p>
            </div>
          </div>
          <!-- ポートフォリオ4 -->
          <div class="portfolio l-out-shadow PC">
            <img src="/images/portfolio/Poaner.png" class="PC" alt="Poaner">
            <div class="portfolio-ttl">
              <p class="top-text">Poaner</p>
              <p class="bottom-text">2020/05/20</p>
            </div>
          </div>
          <!-- ポートフォリオ5 -->
          <div class="portfolio l-out-shadow PC">
            <img src="/images/portfolio/Poaner.png" class="PC" alt="Poaner">
            <div class="portfolio-ttl">
              <p class="top-text">Poaner</p>
              <p class="bottom-text">2020/05/20</p>
            </div>
          </div>
          <!-- ポートフォリオ6 -->
          <div class="portfolio l-out-shadow PC">
            <img src="/images/portfolio/Poaner.png" class="PC" alt="Poaner">
            <div class="portfolio-ttl">
              <p class="top-text">Poaner</p>
              <p class="bottom-text">2020/05/20</p>
            </div>
          </div>
      </section>
      <div class="btn-container">
        <a href="#" class="btn-">制作一覧 ></a>
      </div>
  <!-- Blogエリア -->
      <section id="blog" class="l-container main-font">
        <h2 class="ttl main-font">BLOG</h2>
        <!-- Blog1 -->
        <% include common/_slider %>
      </section>
    </div>
  </div>

  <!-- ここまでコンテンツ -->
  <% include common/_footer %>
