
#main {
    width: 100%;
    background-color: $white;
    .main-inner {
        margin: 0 auto;
        padding: 0 20px;
        // background-color: $lightgray;
        padding-top: 30px;
        @include min-screen($break_point_max) {
            max-width: 1200px;
        }
    }
}

    //  TOP イメージ 
    #main-visual {
        margin-bottom: 20px;
        .SPimg {
            @include min-screen($break_point_min) {
                display: none;
            }
            img {
                width: 100%;
            }
        }
        .PCimg {
            @include max-screen($break_point_max) {
                display: none;
                img {
                    width: 100%;
                }
            }
        }
    }

    // Serviceエリア
    #service, #work, #blog {
        // height: 300px;
        width: 100%;
        padding: 30px 0;
        margin: 50px auto;
        background-color: $lightgray;
        text-align: center;
        .ttl {
            margin-top: -60px;
            p {
                text-align: left;
                @include min-screen($break_point_min) {
                    text-align: center;
                }
            }
        }
        .work-design, .work-coding {
            width: 100%;
            text-align: center;
            padding: 20px;
            
            @include min-screen($break_point_pc) {
                display: inline-block;
                // display: flex;
                width: 400px;

            }
            &-icon {
                width: 100%;
                img {
                    width: 150px;
                    margin: 0 auto;
                }
            }
            .work-design-icon {
                img {
                    width: 120px;
                    padding-top: 10px;
                    padding-bottom: 20px;
                }
            }
            &-des {
                width: 100%;
            }
        }
    }

    // Workエリア
    #work {
        .portfolio {
            display: inline-block;
            // width: 100%;
            color: $white;
            padding: 10px 20px;
            margin-top: 30px;
            border-radius: 7px;
            box-shadow: 0 1px 0 0 #999;
            background-color: #202020;
            @include min-screen($break_point_max) {
                width: 340px;
                height: 255px;
                margin: 30px 10px 0;
            }
            @include min-screen($break_point_pc) {
                width: 340px;
                height: 255px;
            }
            img {
                width: 100%;
            }
        }
    }

